.appointment-element {
  height: auto;
  width: auto;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.527);
}

.appointment-container {
  display: flex;
  flex-flow: row wrap;
}

.appointment-detail {
  width: 33%;
}

p {
  font-weight: bold;
}

.data-value {
  font-weight: normal;
}

.cancel-btn {
  margin-left: 0.5rem;
}
